<div id="cntForm formgrid grid">
    <div id="cntTitre">
        <h1>Ajoutes un nouveau vehicule </h1>
    </div>
    <div id="sousCntForm field col-6 ">
        <form [formGroup]="addForm" (ngSubmit)="submitPremierForm()">
            <div id="cnt">
                <label for="typologie">Quel genre de vehicule? </label>
                <p-dropdown styleClass="dropdown-style" [options]="listTypologies" formControlName="typologie"
                    optionLabel="typeVehicule"></p-dropdown>
                <button styleClass="icons-style" pButton type="button" (click)="openTypologieForm()"
                    class="p-button-help" icon="pi pi-plus" iconPos="left"></button>
                <div id="comp-new-type" *ngIf="displayTypologie">
                    <app-add-typologie></app-add-typologie>
                </div>
            </div>
            <div id="cnt">
                <label for="annee">De quel année? </label>
                <input type="date" formControlName="annee" placeholder="annee" id="annee" pInputText />
            </div>
            <div id="cnt">
                <label for="marque">Marque du vehicule? </label>
                <p-dropdown styleClass="dropdown-style" [options]="listMarquesCC" formControlName="marque"
                    optionLabel="brand"></p-dropdown>
                <button styleClass="icons-style" pButton type="button" (click)="openMarqueForm()" class="p-button-help"
                    icon="pi pi-plus" iconPos="left"></button>
                <div id="comp-new-marque" *ngIf="displayMarque">
                    <app-add-marque-vehicule></app-add-marque-vehicule>
                </div>
            </div>
            <div id="cnt">
                <label for="modele">Quel modele de vehicule? </label>
                <input type="text" formControlName="modele" placeholder="modele" id="modele" pInputText />
            </div>
            <div id="cnt">
                <label for="boite">Quel boite? </label>
                <p-dropdown styleClass="dropdown-style" [options]="listBoites" formControlName="boite"
                    optionLabel="type"></p-dropdown>
            </div>
            <div id="cnt">
                <label for="prix">Quel prix? </label>
                <input type="number" formControlName="prix" placeholder="prix" id="prix" pInputText />
            </div>
            <div id="cnt">
                <label for="status">Est-il neuf ou d'occasion? </label>
                <p-dropdown styleClass="dropdown-style" [options]="listStatus" formControlName="status"
                    optionLabel="typeContrat"></p-dropdown>
            </div>
            <div id="cnt">
                <label for="kilometrage">Combien de kilometre? </label>
                <input type="number" formControlName="kilometrage" placeholder="kilometrage" id="kilometrage"
                    pInputText />
            </div>
            <div id="cnt">
                <label for="dimensionLongeur"> Dimension - longeur? </label>
                <input type="number" formControlName="dimensionLongeur" placeholder="dimensionLongeur"
                    id="dimensionLongeur" pInputText />
            </div>
            <div id="cnt">
                <label for="dimensionLargeur"> Dimension - largeur? </label>
                <input type="number" formControlName="dimensionLargeur" placeholder="dimensionLargeur"
                    id="dimensionLargeur" pInputText />
            </div>
            <div id="cnt">
                <label for="dimensionHauteur">Dimension - hauteur? </label>
                <input type="number" formControlName="dimensionHauteur" placeholder="dimensionHauteur"
                    id="dimensionHauteur" pInputText />
            </div>
            <div id="cnt">
                <label for="region">Il est dans quel region? </label>
                <p-dropdown styleClass="dropdown-style" [options]="listRegions" formControlName="region"
                    optionLabel="nom"></p-dropdown>
                <button styleClass="icons-style" pButton type="button" (click)="openRegionForm()" class="p-button-help"
                    icon="pi pi-plus" iconPos="left"></button>
                <div id="comp-new-region" *ngIf="displayRegion">
                    <app-add-region></app-add-region>
                </div>
            </div>
            <div id="cnt">
                <label for="nombreCouchage"> Combien de place pour dormir? </label>
                <p-dropdown styleClass="dropdown-style" [options]="listNombreCouchages" formControlName="nombreCouchage"
                    optionLabel="place"></p-dropdown>
                <button styleClass="icons-style" pButton type="button" class="p-button-help" icon="pi pi-plus"
                    iconPos="left"></button>
            </div>
            <div id="cnt">
                <label for="typeCouchage">Quel type de couchage? </label>
                
                <!-- <ng-multiselect-dropdown #multiSelect [settings]="dropdownSettings"
                [data]= "listTypeCouchages"></ng-multiselect-dropdown> -->
                <!-- <p-multiSelect styleClass="multiselect-style" [options]="listTypeCouchages" optionLabel="type"  formControlName="typeCouchage"></p-multiSelect> -->
                <p-dropdown styleClass="dropdown-style" [options]="listTypeCouchages" formControlName="typeCouchage"
                    optionLabel="type"></p-dropdown>
                <button styleClass="icons-style" pButton type="button" (click)="openTypeCouchageForm()"
                    class="p-button-help" icon="pi pi-plus" iconPos="left"></button>
                <div id="comp-new-type-couchage" *ngIf="displayTypeCouchage">
                    <app-add-type-couchage></app-add-type-couchage>
                </div>
            </div>
            <div id="cnt">
                <label for="pvom"> Le poids a vide du vehicule? </label>
                <input type="number" formControlName="pvom" placeholder="pvom" id="pvom" pInputText />
            </div>
            <div id="cnt">
                <label for="ptac"> Le poids total authorisé du vehicule? </label>
                <input type="number" formControlName="ptac" placeholder="ptac" id="ptac" pInputText />
            </div>
            <div id="cnt">
                <label for="chargeUtile"> La charge Utile? </label>
                <input type="number" formControlName="chargeUtile" placeholder="chargeUtile" id="chargeUtile"
                    pInputText />
            </div>
            <div id="cnt">
                <label for="garantie"> La garantie est de combien de mois? </label>
                <input type="number" formControlName="garantie" placeholder="garantie" id="garantie" pInputText />
            </div>
            <div id="cnt">
                <label for="energie">Quel energie utilise? </label>
                <p-dropdown styleClass="dropdown-style" [options]="listEnergies" formControlName="energie"
                    optionLabel="typeEnergie"></p-dropdown>
                <button styleClass="icons-style" pButton type="button" class="p-button-help" (click)="openEnergieForm()"
                    icon="pi pi-plus" iconPos="left"></button>
                <div id="comp-new-energie" *ngIf="displayEnergieForm">
                    <app-add-energie></app-add-energie>
                </div>
            </div>
            <div id="cntBtn">
                <button pButton type="submit" label="Ajout"></button>
            </div>


        </form>
    </div>
</div>