#cntTitre {
    display: flex;
    align-items: center;
    flex-direction: column;

}

:host {
    ::ng-deep .dropdown-style {
        margin-bottom: 0.5rem;
        width: 15rem
    }

    ;

    ::ng-deep radioButton {
        margin-right: 5rem;
    }

    ;

    // ::ng-deep .icons-style{
    //     margin-left: 5rem;
    // }
    ::ng-deep .p-button.p-button-icon-only {
        height: 2.8rem;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 1px;
    }

    ;

    ::ng-deep .multiselect-style {
        width: 15rem;
        margin-bottom: 0.5rem;
    }
}

input {
    margin-bottom: 0.5rem;
    width: 15rem;
}

#cnt {
    display: flex;
    justify-items: center;
}

label {
    margin-top: 0.6rem;
    width: 15rem;
    display: flex;
    justify-items: center;
}