<p-table [value]="listVehicules" [tableStyle]="{'min-width': '60rem'}">
    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            Vehicules
            <p-button icon="pi pi-refresh"></p-button>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Marque</th>
            <th>Image</th>
            <th>Price</th>
            <th>Année</th>
            <th>Energie</th>
            <th>Status</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-vehicule>
        <tr>
            <td>{{vehicule.marque}}</td>
            <td><img [src]="'https://primefaces.org/cdn/primeng/images/demo/product/' + vehicule.image" [alt]="vehicule.name" width="100" class="shadow-4" /></td>
            <td>{{vehicule.prix | currency:'EUR'}}</td>
            <td>{{vehicule.typologie}}</td>
            <td>>{{vehicule.energie}}</td>
            <td>>{{vehicule.status}}</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
            In total there are {{listVehicules? listVehicules.length : 0 }} products.
        </div>
    </ng-template>
</p-table>